@media screen and (max-width: 767px){
	
	div.firstsection{
	background: url('images/moon8.jpg');
	background-position: 92% 10%;
	background-size: cover;
	background-repeat: no-repeat;
	}

	div.firstsection div{
	margin-left: 0em;
	margin-top: 8em;
	}

	div.secondsection{
	padding-left: 0em;
	background-repeat: repeat-y;
	background-position: center top;
	height: 30em;
	}

	div.thirdsection{
	padding-left: 0em;
	background-repeat: repeat-y;
	height: 30em;
	background: url('images/rocket.jpg');
	background-size: cover;
	background-position: center;
	}

	div.fifthsection{
	margin-top: -1em;
	width: 100%;
	height: 30em;
	background-image: url('images/satellitedish5.jpg');
	background-position: center top;
	background-size: cover;
	}
	div.contactform form{
			margin: 0 auto 0 auto;
			width: 65%;
	}
}

@media screen and (min-width: 768px){
	div.firstsection div{
	margin-left: 3em;
	margin-top: 8em;
	}

	div.firstsection{
	background: url('images/moon8.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	}

	div.secondsection{
	padding-left: 8em;
	height: 18em;
	background-repeat: no-repeat;
	}

	div.thirdsection{
	padding-left: 8em;
	height: 20em;
	background-repeat: no-repeat;
	background: url('images/rocket.jpg');
	background-size: cover;
	}

	div.fifthsection{
	margin-top: -1em;
	width: 100%;
	height: 30em;
	background-image: url('images/satellitedish5.jpg');
	background-position: center top;
	background-size: cover;
	}

	div.contactform form{
			margin: 0 auto 0 auto;
			width: 65%;
	}
}

html{
	width: 100%;
	height: 100%;
	background-color: #333;
}

body {
	width: 100%;
}

nav{
	
}

@font-face{
	font-family:Shift;
	src:url("fonts/shift1.eot");
	src:url("fonts/shift1.2.eot") format("eot"),url("fonts/shiftwoff.woff") format("woff"),url("fonts/shiftTTF.ttf") format("truetype"),url("fonts/shiftsvg.svg") format("svg");
	font-weight:normal;
	font-style:normal;
}
	
@font-face{
	font-family:Shift;
	src:url("fonts/shiftbold.eot");
	src:url("fonts/shiftbold2.eot") format("eot"),url("fonts/shiftboldwoff.woff") format("woff"),url("fonts/shiftboldTTF.ttf") format("truetype"),url("fonts/shiftboldsvg.svg") format("svg");
	font-weight:bold;
	font-style:normal;
}

div.firstsection{
	/*background: url('images/moon8.jpg');
	background-size: cover;
	background-repeat: no-repeat;*/
	font-family: Shift;
	width: 100%;
	height: 40em;
}

div.firstsection div h1, div h3{
	font-family: Shift;
	font-weight: bold;
	color: white;
	text-shadow: 0 3px 3px rgba(0, 0, 0, 1);
	/*text-shadow: 0 -3px 3px rgba(0, 0, 0, 1);*/
}

div.firstsection aside{
	vertical-align: middle;
	font-size: 4em;
	color: white;
}

div.secondsection{
	font-family: Shift;
	width: 100%;
	background-color: #333;
}

div.secondsection{
	background: url('images/nightsky2.jpg');
	background-size: cover;
	margin-top: -1em;
}

div.secondsection h2{
	font-family: Shift;
	font-weight: bold;
	text-shadow: 0 3px 3px rgba(0, 0, 0, 1);
	color: white;
}

div.secondsection p{
	font-family: Garamond;
	color: white;
	text-shadow: 0 3px 3px rgba(0, 0, 0, 1);
	font-size: 1.28rem;
}

div.thirdsection{
	margin-top: -1em;
	clear: both;
}

div.thirdsection h2{
	font-family: Shift;
	font-weight: bold;
	text-shadow: 0 3px 3px rgba(0, 0, 0, 1);
	color: white;
}

div.thirdsection p{
	font-family: Garamond;
	color: white;
	text-shadow: 0 -3px 3px rgba(0, 0, 0, 1);
	font-size: 1.28rem;
}

i.fa-globe{
	color:skyblue;
	font-size: 1.23em;
}

i.fa-space-shuttle{
	font-size:1.4em;
}

i.fa-rocket{
	color: red;
	font-size: 1.4em;
}

div.fourthsection{
	margin-top: -1em;
	text-align: center;
	background-image: url('images/radar.jpg');
	background-position: center top;
	background-size: cover;
	width: 100%;
	height: 15em;
}

div.fourthsection h2{
	margin-left: 2em;
	text-align: left;
	font-family: Shift;
	font-weight: bold;
	text-shadow: 0 3px 3px rgba(0, 0, 0, 1);
	color: white;
}

div.fourthsection i{
	background-color: darkgreen;
	text-align: center;
	font-size: 10em;
	color: lime;
}

div.fourthsection i.fa-google-plus-square{
	margin-right: 3%;
}

div.fifthsection h2{
	margin-left: 2em;
	text-align: left;
	font-family: Shift;
	font-weight: bold;
	text-shadow: 0 3px 3px rgba(0, 0, 0, 1);
	color: white;
}

div.contactform{
	/*display: none;*/
}

div.contactform form label{
	color: white;
	text-shadow: 0 -3px 3px rgba(0, 0, 0, 1);
}
    /*          
  nav .button {
      border: 0;
      background: #eb974e;
      -webkit-box-shadow: 0;
      -moz-box-shadow: 0;
      box-shadow: 0;
      font-size: 0.75em;
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-box-shadow: 0px 4px 0px #a74d46;
      -moz-box-shadow: 0px 4px 0px #a74d46;
      box-shadow: 0px 4px 0px #a74d46;
    }
    nav .button:hover {
      background: #e88a37;
      color: white;
    }
    nav .button:active {
      -webkit-box-shadow: 0px 4px 0px #a74d46;
      -moz-box-shadow: 0px 4px 0px #a74d46;
      box-shadow: 0px 4px 0px #a74d46;
      background: #e78129;
    }              
            */

