@media screen and (max-width: 767px){
	div.firstsection div{
	margin-left: 0em;
	margin-top: 8em;
}
}

@media screen and (min-width: 768px){
	div.firstsection div{
	margin-left: 3em;
	margin-top: 8em;
}
}

html{
	width: 100%;
	height: 100%;
	background-color: #333;
}

body {
	width: 100%;
}

@font-face{
	font-family:Shift;
	src:url("fonts/shift1.eot");
	src:url("fonts/shift1.2.eot") format("eot"),url("fonts/shiftwoff.woff") format("woff"),url("fonts/shiftTTF.ttf") format("truetype"),url("fonts/shiftsvg.svg") format("svg");
	font-weight:normal;
	font-style:normal;
}
	
@font-face{
	font-family:Shift;
	src:url("fonts/shiftbold.eot");
	src:url("fonts/shiftbold2.eot") format("eot"),url("fonts/shiftboldwoff.woff") format("woff"),url("fonts/shiftboldTTF.ttf") format("truetype"),url("fonts/shiftboldsvg.svg") format("svg");
	font-weight:bold;
	font-style:normal;
}

div.firstsection{
	background: url('images/moon8.jpg');
	font-family: Shift;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 40em;
}

div.firstsection div h1, div h3{
	font-family: Shift;
	font-weight: bold;
	color: white;
	text-shadow: 0 3px 3px rgba(0, 0, 0, 1);
}

div.firstsection aside{
	vertical-align: middle;
	font-size: 4em;
	color: white;
}


    /*          
  nav .button {
      border: 0;
      background: #eb974e;
      -webkit-box-shadow: 0;
      -moz-box-shadow: 0;
      box-shadow: 0;
      font-size: 0.75em;
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-box-shadow: 0px 4px 0px #a74d46;
      -moz-box-shadow: 0px 4px 0px #a74d46;
      box-shadow: 0px 4px 0px #a74d46;
    }
    nav .button:hover {
      background: #e88a37;
      color: white;
    }
    nav .button:active {
      -webkit-box-shadow: 0px 4px 0px #a74d46;
      -moz-box-shadow: 0px 4px 0px #a74d46;
      box-shadow: 0px 4px 0px #a74d46;
      background: #e78129;
    }              
            */

